@import "../../utilities.scss";

.game {
  height: 250px;
  // background-color: lavender;
  margin: 20px 0;
  position: relative;
  overflow: hidden;
  transition: all ease-in 0.1s;

  &.isLoading {
    height: 160px;
    pointer-events: none;
  }

  .skeleton {
    line-height: 0;
    height: 31px;
    border-radius: 0;
  }

  &:not(.gameDetails):hover {
    transform: scale(1.005);
    // box-shadow: 0px 0px 5px 2px #c8c8c8;
    box-shadow: 0px 0px 4px #000;
    cursor: pointer;
  }

  h2 {
    display: inline-block;
    background-color: rgba(255, 255, 255, 1);
    padding-right: 50px;
    position: absolute;
    bottom: 10px;
    padding: 10px;
  }

  img {
    position: absolute;
    top: -50px;
    left: 0;
    width: 100%;
    z-index: -111;
  }

  &.gameDetails {
    height: 450px;
  }

  @media (max-width: $mobile) {
    // height: 150px;

    img {
      top: 0;
    }
  }
}
