@import "../../utilities.scss";

.game {
  height: 250px;
  margin: 20px 0;
  position: relative;
  overflow: hidden;
  transition: all ease-in 0.1s;
  border: 2px solid rgba(0, 0, 0, 0);

  &.isLoading {
    height: 160px;
    pointer-events: none;
  }

  .skeleton {
    line-height: 0;
    height: 31px;
    border-radius: 0;
  }

  &:not(.gameDetails):hover {
    transform: scale(1.005);
    border-color: rgba(0, 0, 0, 0.1);
    cursor: pointer;
  }

  h2 {
    display: inline-block;
    background-color: rgba(255, 255, 255, 1);
    padding-right: 50px;
    position: absolute;
    bottom: 10px;
    padding: 10px;
    font-weight: normal;

    small {
      font-weight: normal;
    }
  }

  img {
    position: absolute;
    top: -50px;
    left: 0;
    width: 100%;
    z-index: -111;
  }

  @media (max-width: $mobile) {
    img {
      top: 0;
    }
  }
}
