@import "~@csstools/normalize.css";
@import "utilities.scss";

@font-face {
  font-family: "IdentityFont";
  src: url(./fonts/LTAIdentity.Medium.ttf) format("truetype");
}

* {
  box-sizing: border-box;
}

// global styles
:global(.error) {
  color: red;
}

:global(button) {
  cursor: pointer;
  height: 40px;
}

// sweetalert2 modal
:global(h2.swal2-title) {
  padding: 0 10px;
}

:global(form) {
  label {
    text-align: left;
  }

  input {
    height: 60px;
    border: 2px solid #000;
    padding: 0 15px;
    width: 100%;
    font-size: 18px;
    font-weight: normal;

    &:focus {
      border-radius: 0;
      outline: none;
      box-shadow: 0px 0px 2px #000;
    }
  }
}

.app {
  font-family: "IdentityFont", "Open Sans", sans-serif;
  display: flex;
  flex: 1;
  flex-flow: column;
  justify-content: space-between;

  h1,
  h2 {
    margin: 0;
  }

  p {
    margin: 0;
    line-height: 1.5em;
    font-size: 18px;
  }

  small {
    font-size: 14px;
  }

  footer {
    height: 50px;
    background-color: #f9f9f9;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  @media (max-width: $mobile) {
    h1 {
      font-size: 20px;
    }

    h2 {
      font-size: 16px;
    }

    small {
      font-size: 12px;
    }
  }
}
