.home {
  padding: 50px 50px 100px 50px;
  min-height: 100vh;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;

  .addGameLink {
    display: flex;
    justify-content: flex-end;
    padding: 10px 0 0 0;

    p {
      cursor: pointer;
    }
  }

  .resultsMessage {
    padding-top: 12px;
    font-weight: bold;
  }

  @media (max-width: var(--mobile)) {
    padding: 20px;
  }
}
