@import "../../utilities.scss";

.search {
  position: relative;

  input {
    padding-left: 40px;
  }

  .magnifyingGlass {
    position: absolute;
    left: 15px;
    bottom: 0;
    z-index: 11;
    @extend .verticalCenter;
  }
}
